
/*************************Definindo tamando dos alimentos*************************/
.area-alimentos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.largura-alimentos{
	width: 70%;
}

/*******fomatando alimentos********/
.page-alimentacao{

	width: 98%;

}

#listade-alimentos{
	border-bottom: 5px solid #FF8000;
	border-left: 5px solid #FF8000;
	padding-bottom: 20px;
	padding-left: 50px; 
	
}
.lista-alimentos-links-centralizados{
	display: flex;
	justify-content: center;
}

.postagem {
	border-bottom: 5px solid #D8D8D8;
}
.postagem p{
	font-size: 1.3em;
	margin: 90px 0px;
}

.postagem img{
	width: 50%;
	box-shadow: 0px 2px 5px 0px;

}
.postagem p{
	display: block;
}

/******Formatando links dos alimentos*/

#listade-alimentos a{
	float: left;
	border-bottom: 2px solid #FF8000;
	color: black;
	font-weight: bold;
	display: inline-block;
	margin: 20px 5px;
	padding: 12px;
	letter-spacing: 1px;
}
#listade-alimentos a:hover{
	background-color: #FF8000;
	color: #fff;
	font-weight: bold;
	
}

/*************Return Seta ****************
***************/

#back a{
	text-indent: -9000px;
	display: block;
	width: 25px;
	height: 25px;
	margin: 1px 0px; 
	border: 2px solid #FF8000;
	background: url(../imagens/icon-seta-cima.png) no-repeat;
}

a[href="#top"]{
    position:fixed;
    top: 90%;
    right:40px;
}
