*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1em;
	font-family: 'Baloo Tamma 2', cursive;
	background: #FAFAFA;
}

#container{
	width: 95%;
	margin: 0px auto;
	min-width: 970px;
	max-width: 1200px;

}
/*******************AREA LOGO E NAVBAR******************/
header{
	margin-top: ;
	border: 0px solid red;
	height: 150px;
	background: #FF8000 url(../imagens/teste.jpg);
	background-size: cover;
	position: relative;
	box-shadow: 0px 1px 3px;
}
@keyframes area-logo{
	to{
		width: 400px;
	}
	from{
		width: 0px;
	}
}
#area-logo{
	position: absolute;
	width: 400px;
	height: 150px;
	border: 0px solid black;
	float: left;
	background: url(../imagens/logo-academia.png) no-repeat center center;
	animation-name: area-logo;
	animation-duration: 2s;
	z-index: 0;
}

@keyframes logo{
	from{
		width: 0px;
	}
	to{
		width: 350px;
	}
	
}

.logo{
	background: url(../imagens/logo-info-academia.png) no-repeat center center;
	width: 350px;
	height: 150px;
	border-left:3px solid #FF8000;
	display: block;
	text-indent: -9000px;
	animation-name: logo;
	animation-duration: 3s;
	animation-delay: 0s;
	z-index: 1;
}

@keyframes nav{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
	
}

nav{
	float: right;
	 margin-top: 45px;
	 margin-bottom: 45px;
	 margin-right: 0px;
	 animation-name: nav;
	animation-duration: 3s;
	animation-delay: 0s;
}

nav a {
 float: left;
 border: 0px solid red;
 padding: 20px;
 color: black;
 background: #FAAC58;
 text-transform: uppercase;
 font-weight: 900;
/* border-radius:10px;
 margin-right: 10px; */
}

nav a:hover{
	background: #FE9A2E;
	color: #ffff;
	transition: 300ms;

}
.border-radius{
	border-radius: 10px 0px 0px 10px; 
}

/*********************conteudo*****************/
#area-conteudo{
	
	height: 100%;
	background: white;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
/*******************************carrossel*********************************/

/*area-carrossel*/
#area-carrossel{
	display:flex;
	justify-content: center;
	margin: 50px 0px;
	border:0px solid red;
}

.carrossel{
	width: 600px;
	height:;
	text-align: center;
	display:flex;
	justify-content: center;
	border: 5px solid #FF8000;
	flex-wrap: wrap;
}
.carrossel img{
	width: 300px;
}
.carrossel span{
	margin: 20px 0px;
	font-weight: 900;
}
#area-carrossel>a{
	color: black;
}
/*LINK area-carrossel*/
.link-hotmart{
		display: block;
		text-align: center;
}
.link-hotmart a{

}
.link-hotmart a button{
	width: 200px;
	height: 30px;
	border: none;
	text-transform: uppercase;
	font-weight: 900;
	background-color: #FF8000;
	cursor: pointer;
}
.link-hotmart a button:hover{
	background-color: #F5DA81; 
	transition: 400ms;
}
/*******************************FINAL CARROSSEL*********************************/




/**********************************AREA TOPICOS*****************************/

#area-topicos{
	border: 2px solid #E6E6E6;
	margin: 50px 0px;
	background: #F2F2F2;
}
#area-topicos h3{
	margin: 20px;
}
#area-topicos .items-topicos{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.area-items .items{
	width: 200px;
	height: 200px;
	border: 2px solid white;
	margin: 20px 0px; 
}
.items button{
	width: 100%;
	height: 30px;
	cursor: pointer;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 900;
	border: none;
	background-color: #FF8000;
}
.items span{
	display: block;
	border: 0px solid red;
	width: 50px;
	height: 50px;
	margin-left: 40%;
	margin-top: 30%;
	background: url(../imagens/icon-play1.png) no-repeat center center;
}
.items button:hover{
	background: #F5DA81;
	width: 100%;
/*	height: 40px;*/
	transition: height 400ms;
}
.area-items .top{
	background: black url(../imagens/topicos/primeiro-top1.png) no-repeat center center;
}
.area-items .top:hover{
	background: black url(../imagens/topicos/primeiro-top1.png) no-repeat center center;
	opacity: 0.8;
	transition: 400ms;
}
/*****conteudo***
*******************************************************************/
#conteudo{
	padding: 20px; 
}
.postagem{
	background: #FAFAFA;
	padding: 20px;
}
span{
	color:#BDBDBD;
	margin: 10px 0px;
	display: block;
}
.postagem h3{
	font-size: 1.5em;
	margin: 20px 0px;
	font-weight: 900;
}

.postagem p{
	margin: 40px 0px;
	font-size: 1.1em;
}
.postagem ul li{
	margin: 10px 0px 10px 20px;
	text-transform: uppercase;
	list-style: square;
}
.imagem-postagem{


}
.imagem-postagem img{
	width: 100%;
}

.conteudo-postagem-final{
	border: 3px solid #D8D8D8;
	padding: 0px 20px; 
}

/****************************RODAPE*******************************/
#area-rodape{
	clear: both;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
}
#rodape{

}
/*********************
******************* TAMANHO DAS COLUNAS ***********
************************************************************/
.index{
	width: 68%;
}

.alimentacao{
	width: 100%;
}
/********************Formatação padrao**********************/
ul{
	list-style: none;
	margin: 0px;
}
a{
	text-decoration: none;
}
.clean{
	clear: both;
}
.centrelizar{
	display: flex;
	justify-content: center;
}

/** botao voltar ***/

#back a{
	text-indent: -9000px;
	display: block;
	width: 25px;
	height: 25px;
	margin: 1px 0px; 
	border: 2px solid #FF8000;
	background: url(../imagens/icon-seta-cima.png) no-repeat;
}

a[href="#top"]{
    position:fixed;
    top: 90%;
    right:40px;
}
/*linkando paginas*/

#index #home .selecionado-home,
#treinos #home .selecionado-treinos,
#alimentacao-body #home .selecionado-alimentacao,
#suplementos #home .selecionado-suplementos,
#dicas #home .selecionado-dicas{
	background:#FF8000;
	
}
/*border-radius: 10px 0px 0px 10px;*/

