/* * * * * * * * * * * * ** AREA SUPLEMENTO ** * *  * * * * * * *  * * * * * */
.area-suplemento{
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	margin-top: 50px;
}
.largura-suplemento{
	width: 200px;
}
.largura-suplemento img{
	width: 100%;
}


.postagem-suplemento h3{
	font-size: 1em;
	margin: 10px 0px;
}

.postagem-suplemento{
	text-align: center;
	border: 2px solid #D8D8D8;
}

.postagem-suplemento:hover{
	background-color: #F2F2F2;
	border: 2px solid #A4A4A4;
}
.link-suplemento{
	color: black;
	margin: 10px;
}
